<h2>{{card.name | uppercase}} Details</h2>
<div><span>id: </span>{{card.id}}</div>
<div><span>cardnum: </span>{{card.cardnum}}</div>
<div><span>name: </span>{{card.name}}</div>
<div><span>unit: </span>{{card.unit}}</div>
<div><span>clan: </span>{{card.clan}}</div>
<div><span>race: </span>{{card.race}}</div>
<div><span>nation: </span>{{card.nation}}</div>
<div><span>grade: </span>{{card.grade}}</div>
<div><span>power: </span>{{card.power}}</div>
<div><span>shield: </span>{{card.shield}}</div>
<div><span>rarity: </span>{{card.rarity}}</div>

